<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <!-- External css and javascript from leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>Map Page</title>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <div id="mapCreate" style="height: 400px; width: 100%;">
  </div>

  <% if (user) { %>  
    <div class="button_div">
      <button type="submit" class="btn btn-sm"><%= map.isFavouriteMap ? 'Remove from Favourites' : 'Add to Favourites' %> </button>      
      <% if (map.user_id === user) { %>
        <button type="submit" class="btn btn-sm">Edit Map</button>
      <% } %>
    </div>
   <% } %>

  <main class="container">
    <h5 class="map_title"><%= map.title %></h5>
    <h6 class="map_id"><%= 'Map Id: ' + map.id %></h6>
    <h6 class="map_owner"><%= 'Map Owner: ' + map.owner_name + ' (' + map.user_id + ') Current User: ' + user %></h6>
    <h6 class="map_favourite"><%= 'Is Favourite: ' + map.isFavouriteMap %></h6>
    <p class="map_description"><%= map.description %></p>
  </main>

  <footer>
    <%- include('partials/_footer') %>
  </footer>
  <!-- Leaflet JS to render map -->
  <script>
    const map = L.map('mapCreate').setView([51.505, -0.09], 18);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
  </script>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
